header{
    height: 100px;
}

section{
    min-height: 400px;
}

footer{
    height: 100px;
    
}

.iniciarSesion{

    border-radius: 30px;
   
}

/*
body {
    background-image: url(../imagenes/fondofilm.jpg);
    background-color: #000;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: Verdana;
}*/