{% extends "index.html" %}
{% block menu %} 
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
    <div class="container">
        <h3 class="text-center fw-bold">Funcionamiento Aplicación</h3>
        <p>
            Aplicación desarrollada en Python con Flask y como motor de bases de Datos MongoDB.
            Realiza los procesos de l CRUD a una base de datos.
        </p>
        <p class="fw-bold">Funcionalidades:</p>
        <ul>
            <li>Add Género</li>
            <li>Update Género</li>
            <li>Delte Género</li>
            <li>List Géneros</li>
            <li>Add Película</li>
            <li>Update Película</li>
            <li>Delte Película</li>
            <li>List Películas</li>
        </ul>
    </div>
    

{%endblock %}
{% block piePagina %} 
    {% include "piePagina.html" %}
{%endblock %}

